@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
}

.navunten {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0px 10px 5px 10px;
    border-radius: 1em;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
    padding-bottom: 5px;
}

.nav_links ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav_links li {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: .5px solid black;
    padding: 0px 5px;
}

.nav_links {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.nav_links_active {
    background-color: #0054CA;
}

.nav_links_active  {
    transition: .3s;
    color: white;
}

.nav_links_active:hover a {
    transition: .3s;
}

.nav_link {
    transition: .3s;
}

.nav_link:hover {
    background-color: #0054CA;
}

.nav_link:hover  {
    color: rgb(255, 255, 0);
}

.nav_uipd_link {
    border-left: .5px solid black;
}

.navoben {
    width: 100%;
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.obenrechts {
    margin-right: 10px;
    padding: 14px;
    text-align: center;
    color: white;
    background-color: red;
}

.obenrechts p {
    color: white;
}

.obenrechtsp {
    display: inline;
}

.obenrechts .blaues110 {
    color: #0054CA;
}

.soncontainerda {
    width: 100%;
    display: flex;
    justify-content: center;
}

.removed {
    display: none;
}

.neuestenews {
    display: flex;
}

.schoenesblau {

}

.newstext {
    background-color: #0054CA;
    width: 200px;
    padding: 5px;
    position: relative;
}

.newstext .newsart, .newsganzetext {
    color: white;
}

.newsart {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.newsueberschrift {
    color: rgb(255, 255, 0);
    margin-bottom: 10px;
}

.newsganzetext {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1px;
}

.sopaarpfeileundso {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
}

.nextpfeil {
    position: absolute;
    right: 10px;
}

.inputdingensda input {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
}

.inputdingensda input:focus {
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 2px solid black;
}

.beforepfeilknopf {
    background: none;
    border: none;
}

.beforepfeilknopf:hover {
    cursor: pointer;
}

.beforepfeilknopf:hover .beforepfeil g {
    transition: .3s;
    fill: rgb(255, 255, 0);
}

.beforepfeil g {
    transition: .3s;
}

.nextpfeilknopf {
    position: absolute;
    background: none;
    border: none;
    right: 0;
}

.nextpfeilknopf:hover .nextpfeil g {
    transition: .3s;
    fill: rgb(255, 255, 0);
}

.nextpfeil g {
    transition: .3s;
}